In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
diabetes_dataframe = pd.read_csv("./Diabetes dataset/Clean_diabetes_dataset.csv")
diabetes_dataframe.head()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,6,148,72,35,0,33.6,0.627,50,1
1,1,1,85,66,29,0,26.6,0.351,31,0
2,2,8,183,64,0,0,23.3,0.672,32,1
3,3,1,89,66,23,94,28.1,0.167,21,0
4,5,5,116,74,0,0,25.6,0.201,30,0

In [29]:
diabetes_dataframe.describe()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,639.000000,639.000000,639.000000,639.000000,639.000000,639.000000,639.00000,639.000000,639.000000,639.000000
mean,388.241002,3.804382,119.112676,72.120501,20.563380,65.931142,32.00579,0.429177,32.715180,0.312989
std,222.226595,3.260995,29.162175,11.348686,15.339991,79.569482,6.43397,0.250957,11.080651,0.464073
min,0.000000,0.000000,44.000000,38.000000,0.000000,0.000000,18.20000,0.078000,21.000000,0.000000
25%,196.500000,1.000000,99.000000,64.000000,0.000000,0.000000,27.30000,0.242000,24.000000,0.000000
50%,391.000000,3.000000,114.000000,72.000000,23.000000,37.000000,32.00000,0.358000,29.000000,0.000000
75%,576.500000,6.000000,137.000000,80.000000,32.000000,120.000000,35.95000,0.586000,40.000000,1.000000
max,767.000000,13.000000,198.000000,106.000000,60.000000,318.000000,50.00000,1.191000,66.000000,1.000000

In [30]:
corr_matrix = diabetes_dataframe.corr()
corr_matrix
corr_matrix['Outcome']*100

Unnamed: 0                   -2.868235
Pregnancies                  22.798663
Glucose                      49.274005
BloodPressure                18.329784
SkinThickness                 3.067563
Insulin                       9.774559
BMI                          26.937130
DiabetesPedigreeFunction     17.907250
Age                          26.334387
Outcome                     100.000000
Name: Outcome, dtype: float64

In [31]:
diabetes_dataframe.drop(columns = ['Unnamed: 0','SkinThickness'], inplace=True)

In [39]:
diabetes_dataframe.head()

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,0,33.6,0.627,50,1
1,1,85,66,0,26.6,0.351,31,0
2,8,183,64,0,23.3,0.672,32,1
3,1,89,66,94,28.1,0.167,21,0
4,5,116,74,0,25.6,0.201,30,0

In [40]:
X = diabetes_dataframe.drop('Outcome', axis='columns')
y = diabetes_dataframe.Outcome
X,y

(     Pregnancies  Glucose  BloodPressure  Insulin   BMI  \
 0              6      148             72        0  33.6
 1              1       85             66        0  26.6
 2              8      183             64        0  23.3
 3              1       89             66       94  28.1
 4              5      116             74        0  25.6
 ..           ...      ...            ...      ...   ...
 634           10      101             76      180  32.9
 635            2      122             70        0  36.8
 636            5      121             72      112  26.2
 637            1      126             60        0  30.1
 638            1       93             70        0  30.4

      DiabetesPedigreeFunction  Age
 0                       0.627   50
 1                       0.351   31
 2                       0.672   32
 3                       0.167   21
 4                       0.201   30
 ..                        ...  ...
 634                     0.171   63
 635                     0.340   27
 636                     0.245   30
 637                     0.349   47
 638                     0.315   23

 [639 rows x 7 columns],
 0      1
 1      0
 2      1
 3      0
 4      0
       ..
 634    0
 635    0
 636    0
 637    1
 638    0
 Name: Outcome, Length: 639, dtype: int64)

In [41]:
from sklearn.preprocessing import StandardScaler
scl = StandardScaler()
X_scaled = scl.fit_transform(X)
X_scaled

array([[ 0.67382449,  0.99135111, -0.01062636, ...,  0.24797421,
         0.7888924 ,  1.56113222],
       [-0.86065109, -1.170674  , -0.53973612, ..., -0.84085334,
        -0.31175881, -0.15491181],
       [ 1.28761472,  2.19247617, -0.71610604, ..., -1.35415776,
         0.96834641, -0.0645937 ],
       ...,
       [ 0.36692937,  0.06476892, -0.01062636, ..., -0.90307206,
        -0.73447269, -0.24522991],
       [-0.86065109,  0.23635821, -1.06884588, ..., -0.29643957,
        -0.31973455,  1.2901779 ],
       [-0.86065109, -0.89613113, -0.18699628, ..., -0.24977553,
        -0.45532202, -0.87745666]])

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y,random_state=30,test_size=0.2)
len(X_train) # 511
len(X_test)  # 128

128

In [44]:
from sklearn.linear_model import LogisticRegression

mdl = LogisticRegression()
mdl.fit(X_train,y_train)
mdl.score(X_test,y_test)*100

77.34375

In [50]:
from sklearn.decomposition import PCA
pca = PCA(0.99)
X_pca = pca.fit_transform(X)
X_pca.shape

(639, 4)

In [51]:
pca.explained_variance_ratio_

array([0.85416513, 0.10930109, 0.01979041, 0.0112758 ])

In [ ]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_scaled,y,random_state=30,test_size=0.2)
len(X_train) # 511
len(X_test)  # 128